@import "tailwindcss";

:root {
  --background: #E7E8EE;
  --foreground: #171717;
  --primary-color-text: #283B5C;
  --secondary-color-text: #461C7A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* --color-primary-button-text: var(--primary-button-color-text); */
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #E7E8EE;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta-sans), sans-serif;
}
